Babel
Jinja2
MarkupSafe
PyYAML
Pygments
Sphinx
alabaster
argh
backports-abc
beautifulsoup4
docutils
httpretty
livereload
pathtools
python-dateutil
pytz
requests
six
snowballstemmer
sphinx-autobuild
sphinx-rtd-theme
tornado
watchdog
git+https://github.com/grimoirelab/perceval.git#egg=perceval
